// Converted Variables
// Custom Media Query Variables
/*

  BACKGROUND SIZE
  Docs: http://tachyons.io/docs/themes/background-size/

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/


.cover#{$sfx} {
  background-size: cover !important;
}

.contain#{$sfx} {
  background-size: contain !important;
}