// Converted Variables
// Custom Media Query Variables
/*

    BACKGROUND POSITION

    Base:
    bg = background

    Modifiers:
    -center = center center
    -top = top center
    -right = center right
    -bottom = bottom center
    -left = center left

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */


.bg-center#{$sfx} {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-top#{$sfx} {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-right#{$sfx} {
  background-repeat: no-repeat;
  background-position: center right;
}

.bg-bottom#{$sfx} {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-left#{$sfx} {
  background-repeat: no-repeat;
  background-position: center left;
}