// Converted Variables
// Custom Media Query Variables
/*

  BORDER COLORS
  Docs: http://tachyons.io/docs/themes/borders/

  Border colors can be used to extend the base
  border classes ba,bt,bb,br,bl found in the _borders.css file.

  The base border class by default will set the color of the border
  to that of the current text color. These classes are for the cases
  where you desire for the text and border colors to be different.

  Base:
    b = border

  Modifiers:
  --color-name = each color variable name is also a border color name

*/

@include color_gen(cfg(colors)) {
  .b--#{$colorname} {
    border-color: $value;
  }
}

// .b--white-90 {
//   border-color: $white-90;
// }
@include range(white, background-color,'b--');
@include range(black, background-color,'b--');
