// Converted Variables
// Custom Media Query Variables
/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */


@for $index from 1 through length(cfg(box_shadows)) {
  $value: nth(cfg(box_shadows), $index);

  .shadow-#{$index}#{$sfx} {
    box-shadow: $value;
  }
}