// Converted Variables
// Custom Media Query Variables
/*
   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/
   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height
   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale
     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%
     -auto = string value of auto
     -inherit = string value of inherit
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/
/* Height Scale */
@for $index from 1 through length(cfg(heights_pixels)) {
  $value: nth(cfg(heights_pixels), $index);

  .h#{$value}#{$sfx} {
    height: $value + px;
  }
}

.h-auto#{$sfx} {
  height: auto;
}

.h-inherit#{$sfx} {
  height: inherit;
}

.h-100#{$sfx} {
  height: 100%;
}


.h-auto#{$sfx} {
  height: auto;
}

.h-inherit#{$sfx} {
  height: inherit;
}

.h-100#{$sfx} {
  height: 100%;
}

/* Height Percentages - Based off of height of parent */
@for $index from 1 through length(cfg(heights_percentages)) {
  $value: nth(cfg(heights_percentages), $index);

  .h-#{$index}#{$sfx} {
    height: $value + "%";
  }
}

.min-h-100 {
  min-height: 100%;
}

.min-h-100 {
  min-height: 100%;
}

/* Screen Height Percentage */
@for $index from 1 through length(cfg(heights_vh)) {
  $value: nth(cfg(heights_vh), $index);

  .vh-#{$value}#{$sfx} {
    height: $value + vh;
  }
}

.min-vh-100 {
  min-height: 100vh;
}


@for $index from 1 through length(cfg(heights_min)) {
  $value: nth(cfg(heights_min), $index);

  .mh-#{$value}#{$sfx} {
    min-height: $value + px;
  }
}