// Converted Variables

// Custom Media Query Variables

/*

    IMAGES
    Docs: http://tachyons.io/docs/elements/images/

*/

/* Responsive images! */

img {
    max-width: 100%;
    height: auto;
}
