// Converted Variables
// Custom Media Query Variables
/*

  LETTER SPACING
  Docs: http://tachyons.io/docs/typography/tracking/

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.tracked#{$sfx} {
  letter-spacing: nth(cfg(letter_spacings), 2);
}

.tracked-tight#{$sfx} {
  letter-spacing: nth(cfg(letter_spacings), 3);
}

.tracked-mega#{$sfx} {
  letter-spacing: nth(cfg(letter_spacings), 1);
}