// Converted Variables
// Custom Media Query Variables
/*

  LINE HEIGHT / LEADING
  Docs: http://tachyons.io/docs/typography/line-height

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.lh-solid#{$sfx} {
  line-height: nth(cfg(line_heights), 3);
}

.lh-title#{$sfx} {
  line-height: nth(cfg(line_heights), 2);
}

.lh-copy#{$sfx} {
  line-height: nth(cfg(line_heights), 1);
}