// Converted Variables
// Custom Media Query Variables
/*
  NEGATIVE MARGINS

  Base:
    n = negative

  Modifiers:
    a = all
    t = top
    r = right
    b = bottom
    l = left

    1 = 1st step in spacing scale
    2 = 2nd step in spacing scale
    3 = 3rd step in spacing scale
    4 = 4th step in spacing scale
    5 = 5th step in spacing scale
    6 = 6th step in spacing scale
    7 = 7th step in spacing scale

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/



@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .na#{$index}#{$sfx} {
    margin: -$value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .nl#{$index}#{$sfx} {
    margin-left: -$value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .nr#{$index}#{$sfx} {
    margin-right: -$value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .nb#{$index}#{$sfx} {
    margin-bottom: -$value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .nt#{$index}#{$sfx} {
    margin-top: -$value + rem;
  }
}