// Converted Variables
// Custom Media Query Variables
/*

  POSITIONING
  Docs: http://tachyons.io/docs/layout/position/

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.static#{$sfx} {
  position: static;
}

.relative#{$sfx} {
  position: relative;
}

.absolute#{$sfx} {
  position: absolute;
}

.fixed#{$sfx} {
  position: fixed;
}