// Converted Variables
// Custom Media Query Variables
/*

  ROTATIONS

*/


.rotate-45#{$sfx} {
  transform: rotate(45deg);
}

.rotate-90#{$sfx} {
  transform: rotate(90deg);
}

.rotate-135#{$sfx} {
  transform: rotate(135deg);
}

.rotate-180#{$sfx} {
  transform: rotate(180deg);
}

.rotate-225#{$sfx} {
  transform: rotate(225deg);
}

.rotate-270#{$sfx} {
  transform: rotate(270deg);
}

.rotate-315#{$sfx} {
  transform: rotate(315deg);
}