// Converted Variables
// Custom Media Query Variables
/*

    SKINS
    Docs: http://tachyons.io/docs/themes/skins/

    Classes for setting foreground and background colors on elements.
    If you haven't declared a border color, but set border on an element, it will
    be set to the current text color.

*/

/* Text colors */

@include range(black, color);
@include range(white, color);

@include color_gen(cfg(colors)) {
    .#{$colorname} {
        color: $value;
    }
}

/* Background colors */

@include range(black, background-color, 'bg-');
@include range(white, background-color, 'bg-');

@include color_gen(cfg(colors)) {
    .bg-#{$colorname} {
        background-color: $value;
    }
}

.bg-transparent#{$sfx} {
    background-color: transparent;
}

// Should we do the above for all colours?

/* Fill colors */
@include range(black, fill, 'fill-');
@include range(white, fill, 'fill-');

@include color_gen(cfg(colors)) {
    .fill-#{$colorname} {
        fill: $value;
    }
}

@include color_gen(cfg(colors)) {
    .stroke-#{$colorname} {
        stroke: $value;
    }
}

@each $value in (0, 1, 2) {
    .stroke-w#{$value} {
        stroke-width: #{$value}px;
    }
}

// .stroke-w1 {
//     stroke-width: 1px;
// }
// .stroke-w2 {
//     stroke-width: 2px;
// }