// Converted Variables
// Custom Media Query Variables
/* Variables */

/*
  SPACING
  Docs: http://tachyons.io/docs/layout/spacing/

  An eight step powers of two scale ranging from 0 to 16rem.

  Base:
    p = padding
    m = margin

  Modifiers:
    a = all
    h = horizontal
    v = vertical
    t = top
    r = right
    b = bottom
    l = left

    0 = none
    1 = 1st step in spacing scale
    2 = 2nd step in spacing scale
    3 = 3rd step in spacing scale
    4 = 4th step in spacing scale
    5 = 5th step in spacing scale
    6 = 6th step in spacing scale
    7 = 7th step in spacing scale

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/




// paddings

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pa#{$index}#{$sfx} {
    padding: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pl#{$index}#{$sfx} {
    padding-left: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pr#{$index}#{$sfx} {
    padding-right: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pb#{$index}#{$sfx} {
    padding-bottom: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pt#{$index}#{$sfx} {
    padding-top: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .pv#{$index}#{$sfx} {
    padding-top: $value + rem;
    padding-bottom: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .ph#{$index}#{$sfx} {
    padding-left: $value + rem;
    padding-right: $value + rem;
  }
}

.pa0#{$sfx} {
  padding: 0;
}

.pl0#{$sfx} {
  padding-left: 0;
}

.pr0#{$sfx} {
  padding-right: 0;
}

.pb0#{$sfx} {
  padding-bottom: 0;
}

.pt0#{$sfx} {
  padding-top: 0;
}

.pv0#{$sfx} {
  padding-bottom: 0;
  padding-top: 0;
}

.ph0#{$sfx} {
  padding-left: 0;
  padding-right: 0;
}



// margins

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .ma#{$index}#{$sfx} {
    margin: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .ml#{$index}#{$sfx} {
    margin-left: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .mr#{$index}#{$sfx} {
    margin-right: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .mb#{$index}#{$sfx} {
    margin-bottom: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .mt#{$index}#{$sfx} {
    margin-top: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .mv#{$index}#{$sfx} {
    margin-top: $value + rem;
    margin-bottom: $value + rem;
  }
}

@for $index from 1 through length(cfg(spacings)) {
  $value: nth(cfg(spacings), $index);

  .mh#{$index}#{$sfx} {
    margin-left: $value + rem;
    margin-right: $value + rem;
  }
}

.ma0#{$sfx} {
  margin: 0;
}

.ml0#{$sfx} {
  margin-left: 0;
}

.mr0#{$sfx} {
  margin-right: 0;
}

.mb0#{$sfx} {
  margin-bottom: 0;
}

.mt0#{$sfx} {
  margin-top: 0;
}

.mv0#{$sfx} {
  margin-bottom: 0;
  margin-top: 0;
}

.mh0#{$sfx} {
  margin-left: 0;
  margin-right: 0;
}