// Converted Variables
// Custom Media Query Variables
/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
  border-collapse: collapse;
  border-spacing: 0;
}

@include color_gen($tablestripe-odd) {
  .striped--#{$colorname}:nth-child(odd) {
    background-color: c($value);
  }
}