// Converted Variables
// Custom Media Query Variables
/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.tl#{$sfx} {
  text-align: left;
}

.tr#{$sfx} {
  text-align: right;
}

.tc#{$sfx} {
  text-align: center;
}