// Converted Variables
// Custom Media Query Variables
/*

  TYPE SCALE
  Docs: http://tachyons.io/docs/typography/scale/

  Base:
  f = font-size

  Modifiers
    1 = 1st step in size scale
    2 = 2nd step in size scale
    3 = 3rd step in size scale
    4 = 4th step in size scale
    5 = 5th step in size scale
    6 = 6th step in size scale

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large
*/

/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */


.f-6,
.f-headline#{$sfx} {
  font-size: cfg(font_size_headline);
}

.f-5,
.f-subheadline#{$sfx} {
  font-size: cfg(font_size_subheadline);
}

/* Type Scale */
@for $index from 1 through length(cfg(font_sizes)) {
  $value: nth(cfg(font_sizes), $index);

  .f#{$index}#{$sfx} {
    font-size: $value + rem;
  }
}
