// Converted Variables
// Custom Media Query Variables
/*

  UTILITIES

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

/* Equivalent to .overflow-y-scroll */

.overflow-container {
  overflow-y: scroll;
}


.center#{$sfx} {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto#{$sfx} {
  margin-right: auto;
}

.ml-auto#{$sfx} {
  margin-left: auto;
}

.mb-auto#{$sfx} {
  margin-bottom: auto;
}



.ndash {
  background: c(red);
  width: 15px;
  height: 2px;
}

.mdash {
  background: c(red);
  width: 30px;
  height: 2px;
}

.transition {
  transition: .2s ease-in;

}