// Converted Variables
$cfg: (

    border_radius: (
        0, //1
        3, //2
        6 //3
    ),

    border_widths: (
        1, //1
        2, //2
        3, //3
        4, //4
        5, //5
        10 //6
    ),

    box_shadows: (
        0px 0px 4px 2px rgba( 0, 0, 0, 0.2 ),
        0px 0px 25px 0px rgba( 0, 0, 0, 0.1 )
    ),

    colors: (
        transparent: transparent,
        black: #19191E,
        darkgray: #595959,
        gray: #d6d6d6,
        lightgray: #efefef,
        white: #fff,
        offwhite: #F5F5F5,
    ),

    font_size_headline: 2rem,
    font_size_subheadline: 1.414rem,

    font_sizes: (
        5.5, // 1 = 77px
        3.99, // 2 = 56px
        2.83, // 3 = 40px
        2, // 4 = 28px
        1.414, // 5 = 20px
        1.25, // 6 = 18px
        1, // 7 = 14px
        .95, // 8
        .75 //9
    ),

    font_weights: (
        100,
        200,
        300,
        400,
        500,
        600,
        700,
        800,
        900
    ),

    heights_pixels: (
        50,
        82,
        300,
        400,
        600,
        900
    ),

    heights_percentages: (
        0,
        25,
        50,
        75,
        100
    ),

    heights_vh: (
        0,
        25,
        50,
        70,
        75,
        100
    ),

    heights_min : (
        300,
        400,
        500,
        660
    ),

    letter_spacings: (
        .25rem,
        .05rem,
        -.05rem
    ),

    line_heights: (
        1.5,
        1.25,
        1
    ),

    measures: (
        34em,
        30em,
        20em
    ),

    spacings: (
        0.25, //1
        0.5, //2
        1, //3
        1.5, //4
        2, //5
        4, //6
        6, //7
    ),

    max_widths: (
        320, //1
        580, //2
        800, //3
        1200, //4
        1920 //5
    ),

    widths: (
        1,
        2,
        4,
        5
    )

);

$mq: (
    ns: 'screen and (min-width: 42em)',
    s: 'screen and (min-width: 26em)',
    m: 'screen and (min-width: 42em)',
    l: 'screen and (min-width: 60em)',
    xl: 'screen and (min-width: 70em)',
    xxl: 'screen and (min-width: 110em)'
);

$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

$tablestripe-odd: (
    light-silver: #aaa,
    moon-gray: #ccc,
    light-gray: #eee,
    near-white: #f4f4f4,
    light: rgba(255,255,255,.1),
    dark: rgba(0,0,0,.1)
) !default;