// Converted Variables
// Custom Media Query Variables
/*

  VERTICAL ALIGN

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.v-base#{$sfx} {
  vertical-align: baseline;
}

.v-mid#{$sfx} {
  vertical-align: middle;
}

.v-top#{$sfx} {
  vertical-align: top;
}

.v-btm#{$sfx} {
  vertical-align: bottom;
}