// Converted Variables
// Custom Media Query Variables
/*

  WHITE SPACE

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.ws-normal#{$sfx} {
  white-space: normal;
}

.nowrap#{$sfx} {
  white-space: nowrap;
}

.pre#{$sfx} {
  white-space: pre;
}