// Converted Variables
// Custom Media Query Variables
/*

  WIDTHS
  Docs: http://tachyons.io/docs/layout/widths/

  Base:
    w = width

    Modifiers
      1 = 1st step in width scale
      2 = 2nd step in width scale
      3 = 3rd step in width scale
      4 = 4th step in width scale
      5 = 5th step in width scale

      -10  = literal value 10%
      -20  = literal value 20%
      -25  = literal value 25%
      -30  = literal value 30%
      -33  = literal value 33%
      -34  = literal value 34%
      -40  = literal value 40%
      -50  = literal value 50%
      -60  = literal value 60%
      -70  = literal value 70%
      -75  = literal value 75%
      -80  = literal value 80%
      -90  = literal value 90%
      -100 = literal value 100%

      -third      = 100% / 3 (Not supported in opera mini or IE8)
      -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
      -auto       = string value auto


    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

  */

/* Width Scale */



@for $index from 1 through length(cfg(heights_pixels)) {
  $value: nth(cfg(heights_pixels), $index);

  .w-#{$index}#{$sfx} {
    width: $value + px;
  }
}

.w-10#{$sfx} {
  width: 10%;
}

.w-20#{$sfx} {
  width: 20%;
}

.w-25#{$sfx} {
  width: 25%;
}

.w-30#{$sfx} {
  width: 30%;
}

.w-33#{$sfx} {
  width: 33%;
}

.w-34#{$sfx} {
  width: 34%;
}

.w-40#{$sfx} {
  width: 40%;
}

.w-50#{$sfx} {
  width: 50%;
}

.w-60#{$sfx} {
  width: 60%;
}

.w-70#{$sfx} {
  width: 70%;
}

.w-75#{$sfx} {
  width: 75%;
}

.w-80#{$sfx} {
  width: 80%;
}

.w-90#{$sfx} {
  width: 90%;
}

.w-100#{$sfx} {
  width: 100%;
}

.w-1-12#{$sfx} {
  width: (100% / 12 * 1);
}

.w-2-12#{$sfx} {
  width: (100% / 12 * 2);
}

.w-third#{$sfx} {
  width: (100% / 3);
}

.w-two-thirds#{$sfx} {
  width: (100% / 1.5);
}

.w-auto#{$sfx} {
  width: auto;
}