// Converted Variables
// Custom Media Query Variables
/*

  WORD BREAK

  Base:
    word = word-break

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/


.word-normal#{$sfx} {
  word-break: normal;
}

.word-wrap#{$sfx} {
  word-break: break-all;
}

.word-nowrap#{$sfx} {
  word-break: keep-all;
}