
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

html {
	// Set this value to match one of the values in _variables.scss
	// or add a tachyons font size class to <html>
	font-size: 1rem;
}
body {
	// Set these values to match one of the values in _variables.scss
	// or add a tachyons font size class to <html>
	font-size: 1.2rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-family: 't26-carbon', monospace;
}
h1,h2,h3,h4,h5,h6,table {
	line-height: 1.1;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,table {
	margin-top: 0;
	margin-bottom: 1rem;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
}
h3 {
	font-size: 20px;
	text-transform: uppercase;
}
// h1,h2,h3,h4,h5,h6 {

// }

a {
	text-decoration: none;
	transition: 0.2s ease;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

hr {
	border: 0;
	border-top: 1px solid c(gray);
	margin: 1.5rem 0;
}

ul,
ol {
	padding-left: 1rem;
}

table {
	font-size: 1rem;
	width: 100%;

	th {
		font-size: 1rem;
		font-weight: bold;
		text-align: left;
	}
	th,td {
		padding: 1rem;
		vertical-align: top;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}
.table {
	overflow-x: auto;
	width: 100%;

	table {
		min-width: 480px;
	}
}
figure {
	margin: 0;
}



.angled{
	transform: rotate(15deg);
	transform-origin: center;
}
.rangled{
	transform: rotate(-15deg);
	transform-origin: center;
}


p,a,section{
	font-size:1.2rem;
	line-height:1.5rem;
}

#toggle-btn{
	cursor: pointer;
	text-decoration: none;
}

.single-post hr{
	width:5rem;
}

.overlay {
	background-color: #19191E;
	position: fixed;
	top:20%;
	left:0;
	right:0;
	bottom:0;
	padding:2rem 4rem;
	display:none;
	z-index:9999999999999;
	overflow-y: scroll;
}

.site-main {
	a {
		color: c(white);
		text-decoration: underline;
	}
}

@media only screen and (max-width: 600px) {
	.thank-btn{
		width:40% !important;
	}
	.site-logo {
		width:70%;
		svg{
			width:100%;
		}
	}
	.contact-info{
		flex-direction:column;
		.single-info{
			width:100% !important;
		}
	}
	.overlay{
		padding:1rem 2rem !important;
	}
}

@media only screen and (max-width: 1200px) {
	.mobile-layout{
		display:block;
	}
	.site-footer,
	.desktop-layout{
		display:none;
	}
	.main-content{
		width:100% !important;
	}
	.content-container{
		padding: 0.5em !important;
	}
	.contact-info{
		display:flex;
		width:100%;
		justify-content: space-between;
		.single-info{
			width:45%;
		}
	}
	#mobile-nav .menu-item{
		margin:1rem 0;
		.menu-a{
			font-size:1.8rem !important;
		}
	}
}

@media only screen and (min-width: 1201px) {
	.mobile-menu,
	.mobile-layout,
	.overlay{
		display:none !important;
	}
	.site-footer,
	.desktop-layout{
		display:block;
	}
}



