$form_placeholder_color: mix( c(white), c(black), 60% );
$form_color: c(black);
$form_bg: c(white);
$form_border: mix( c(white), c(black), 80% );
$form_radius: 4px;

%form_el_base {
    padding: .25em .75em;
    border: 1px solid $form_border;
    box-sizing: border-box;
}
%form_el_single {
    @extend %form_el_base;
    line-height: 1;
}

%form_theme1 {
    color: $form_color;
    background-color: $form_bg;
}
%form_theme2 {
    color: $form_bg;
    background-color: $form_color;
    border-color: $form_color;
}

%select {
	appearance: none;
}

%select_nested {
	select {
		@extend %select;
	}
}


input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="range"],
input[type="password"] {
    @extend %form_el_single;
    @extend %form_theme1;
    // background: transparent;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $form_placeholder_color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $form_placeholder_color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $form_placeholder_color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $form_placeholder_color;
    }
}

input[type="button"],
input[type="submit"],
button[type="submit"],
button[type="button"] {
    @extend %form_el_single;
    @extend %form_theme2;
    border-radius: $form_radius;
}

select {
    @extend %form_el_single;
    @extend %form_theme1;
    border-radius: $form_radius;
    padding-right: 1.5em;

    &::-ms-expand {
        display: none;
    }

    &[multiple] {

    }
}

textarea {
    @extend %form_el_base;
    resize: none;
}

label {
    display: table;
}

input[type=checkbox], input[type=radio] {
    margin-right: .5em;
}
input[type=checkbox] + label,
input[type=radio] + label {
    display: inline-block;
}

[disabled] {
    opacity: .5;
}