@mixin hpad($val) {
	padding-left: $val;
	padding-right: $val;
}

@function cfg($key, $map: $cfg) {
	@return map-get($map, $key);
}

// return color from $colors;
// eg color: c(white);
@function c($colorname) {
    @return map-get(cfg(colors),$colorname);
}

// return media query from $mq;
// eg @media #{mq(xxl)};
@function mq($width) {
    @return map-get($mq, $width);
}


// Generate Media Queried Classes
// Eg
// @include gen() {
//   .switch#{$sfx} {
//     color: blue;
//   }
//   .qbert#{$sfx} {
//     background: red;
//   }
// }
// Output
// .switch {
// 	color: blue;
//   }
//   .qbert {
// 	background: red;
//   }
//   @media (min-width: 480px) {
// 	.switch-xs {
// 	  color: blue;
// 	}
// 	.qbert-xs {
// 	  background: red;
// 	}
//   }
//   @media (min-width: 620px) {
// 	.switch-sm {
// 	  color: blue;
// 	}
// 	.qbert-sm {
// 	  background: red;
// 	}
//   }

$sfx: '';
// @mixin gen($map: $mq) {
// 	$sfx: '' !global;
// 	@content;
// 	@each $name, $val in $map {
// 		$sfx: '-'+$name !global;
// 		@media #{$val} {
// 			@content;
// 		}
// 	}
// }

$value: '';
@mixin color_gen($map) {
	@each $name, $val in $map {
		$colorname: $name !global;
		$value: $val !global;
		@content;
	}
}

@mixin range($color, $rule, $pfx: '') {
	@for $i from 1 through 9 {
		.#{$pfx}#{$color}-#{$i*10} {
			#{$rule}: rgba(c($color), $i/10);
		}
	}
	@each $sfx, $val in ('05':.05, '025':.025, '0125':.0125 ) {
		.#{$pfx}#{$color}-#{$sfx} {
			#{$rule}: rgba(c($color), $val);
		}
	}
}