.skip-content {
	position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
.skip-content:active,
.skip-content:focus,
.skip-content:hover {
	position: static;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}
