
.cart_page {
    .shop_table {
		table-layout: fixed;
		font-size: .75em;

		td, th {
			vertical-align: middle;
			padding: .5em;
		}
        .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
			// width: 100px;
			margin: 0;
			display: block;
		}
		.actions {
			display: flex;
		}
		.coupon {
			margin-right: auto;
			display: flex;
			align-items: center;
			flex: 1 0 auto;
		}
		.button[name='update_cart'] {
			flex: 1 0 auto;
		}
	}
	.product-remove {
		width: 2em;
		max-width: 2em;
		text-align: center;
	}
	.product-thumbnail {
		width: 100px;
	}
}

.woocommerce-form-row {
	display: flex;
	max-width: 600px;
	&--wide {
		max-width: 960px;
	}
}

.woocommerce-form-login {
	display: table;
	.form-row {
		display: flex;
		align-items: center;
	}
	.woocommerce-form-row {
		display: table-row;
	}
	label {
		display: table-cell;
	}
}