#wpadminbar {
	position: fixed !important;
}


/*
Image alignment
***/

img.alignnone {
	margin: 1rem 0;
}

img.aligncenter {
	display: block;
	margin: 1rem auto;
}

img.alignright {
	float:right;
	margin: 1rem 0 1rem 1rem;
}

img.alignleft {
	float: left;
	margin: 1rem 1rem 1rem 0;
}


/*
Image Captions
***/

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	font-size: 16px;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: .5rem 0 1rem;
}

.wp-caption.alignleft {
	margin: .5rem 1rem 1rem 0;
}

.wp-caption.alignright {
	margin: .5rem 0 1rem 1rem;
}



/*
Galleries
***/

.gallery {
	margin-left: -0.5em;
	margin-right: -0.5em;
	margin-bottom: 1rem;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0.5em;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}



/*
Blocks
***/

.wp-block-separator {
	border: 0;
	border-top: 1px solid c(white);
	margin: 3rem 0;
	max-width: 60px;
}

.wp-block-quote {
	margin: 3rem 0;

	p {
		margin-bottom: 0.5rem;
	}

	cite {
		display: block;
		font-size: 1rem;
		font-style: normal;
	}
}

.wp-block-image {
	figcaption {
		font-size: 0.9rem;
	}
}