{% extends "base.twig" %}

{% block content %}


	<h3>{{__('The page requested was not found','theme')}}</h3>
	<p><a class="white" href="{{site.url}}">{{__('Back to the home page','theme')}}</a></p>



{% endblock %}