{% extends "base.twig" %}

{% block content %}

	<section class="mw4 center flex flex-wrap">

		<header class="ph4 w-100">
			<h2>{{ post_type.label }}</h2>
			{% if categories %}
				<div>
					<a href="{{ post.link }}" class="white bg-black dib br-pill lh-solid pv1 ph3 mv1 ttu f7 dim">All</a>
					{% for cat in categories %}
						<a href="{{ cat.link }}" class="white bg-black dib br-pill lh-solid pv1 ph3 mv1 ttu f7 dim">{{ cat.name }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</header>

		{% for post in posts %}
			{% block pre_tease %}{% endblock %}
			<article class="w-50 w-third-m xw-25-l ph4 mv4 flex flex-column">
				<a class="black dim" href="{{ post.link }}">
					{% block before_tease %}{% endblock %}
					{% if post.thumbnail %}
						<img class="db mv4" src="{{ post.thumbnail|resize(400,400) }}" alt="">
					{% endif %}
					<header>
						<h3>{{ post.title }}</h3>
					</header>
					<p class="dn db-m">
						{% if post.excerpt %}
							{{ post.excerpt }}
						{% else %}
							{{ post.content|excerpt(30) }}
						{% endif %}<span class="">{{ __('Read More', 'theme') }}</span>
					</p>
					{% block after_tease %}{% endblock %}
				</a>
				{% block after_link %}{% endblock %}
			</article>
		{% endfor %}

	</section>


{% endblock %}