{% extends "css.twig" %}
{% block base %}
    {% block html_head_container %}
        {% include 'header.twig' %}
    {% endblock %}
<style>

</style>
    <body class="{{body_class}} bg-black white flex f4" data-template="base.twig" itemscope itemtype="http://schema.org/WebPage">

        <div aria-hidden="true" class="dn">
            {% include "img/svg/svg-sprite.svg" %}
        </div>


        <div class="[ content-container ] flex ph5 pv4 w-100">
            <div class="[ main-content ] w-80 ph5">
                <header class="site-header" id="top">
                    <div class="flex justify-between">
                        {% block header %}
                            {# LOGO LINK #}
                            <a class="[ site-logo ]" href="{{site.url}}" title="Home" rel="home">{% include "img/svg/logo-white.svg" %}</a>
                        {% endblock %}
                        <div id="mobile-btn" class="[ mobile-menu ] rangled n7">
                            <a class="menu">Menu<span> +</span></a>
                        </div>
                    </div>
                    {% include 'tablet-mobile-menu.twig' %}
                </header>

                <main class="site-main" id="main" role="main">
                    {% block content %}
                            Sorry, no content
                    {% endblock %}
                </main>
            </div>

            {% block footer %}
                <footer class="site-footer static right-0 w-20" itemscope itemtype="http://schema.org/Organization" role="contentinfo">
                    {% include 'footer.twig' %}
                </footer>
        </div>
            {{ function('wp_footer') }}
            {% endblock %}

            {% block script %}{% endblock %}
        </body>
    </body>
</html>
{% endblock %}
