<nav role="navigation" class="h-100 vh flex flex-column justify-between">
	{% if menu_primary.items %}
        <ul class="menu-primary menu list rangled pb7 mb7">
            {% for item in menu_primary.items %}
            <li class="{{item.class}}">
                <a class="white{% if item.children %} menu-item{% endif %}" href="{{item.link}}">{{item.title}}</a>
                    {% if item.children %}
                        <ul class="menu-child list pl0 dn">
                            {% for child in item.children %}
                                <li class="lh-solid">
                                    <a class="white" href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="menu-primary menu list angled pt7 mt7">
        <li class="mt6">
            <a id="contact-btn" href="/contact" class="white">Contact <span>+</span></a>
            {#<div id="menu-contact"  class="dn rangled">
                {% for field in options.contact %}
                    <div class="bt mh5">
                        <p class="mb0">{{ field.inquiries }}</p>
                        <p class="mb0">{{ field.name }}</p>
                        <p>({{ field.pronouns }})</p>
                        <p class="mb0">{{ field.title }}</p>
                        <a href="mailto:{{ field.email }}" class="white">{{ field.email }}</a>
                    </div>
                {% endfor %}
            </div>#}
        </li>
    </ul>
</nav>