<!doctype html>
<html class="no-js" {{site.language_attributes}} prefix="og: http://ogp.me/ns#">
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="{{site.charset}}" />
    <title>
        {% if wp_title %}
            {{wp_title}}
        {% else %}
            {{site.name}}
        {% endif %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/favicon-16x16.png">
    <link rel="manifest" href="{{site.url}}/site.webmanifest">
    <link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg" color="#d1232a">
    <meta name="msapplication-TileColor" content="#d1232a">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.typekit.net/wbx7fos.css">


    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}

    <script>
        document.documentElement.className = document.documentElement.className.replace("no-js","js");
    </script>

</head>