{% extends "base.twig" %}

{% block content %}

<style type="text/css">
body{
    background-color: white !important;
    color:#19191E !important;
}
svg text{
    fill:#19191E !important;
}
.site-main a,
.site-header a,
.site-footer a{
    color:#19191E !important;
}
.overlay {
	background-color:white !important;
	display:none;
}
</style>

<article class="[ desktop-layout ] pt5 fr" id="post-{{post.ID}}">
	<div class="flex">
		<div class="w-20">
			<p>{{ post.date('d/m/y') }}</p>
			<p>{{post.author.name}}</p>
		</div>
		<div class="[ blog-content ] w-70">{{post.content|wpautop}}</div>
	</div>
</article>


<article class="[ mobile-layout ] pl0 fr" id="post-{{post.ID}}">
	<div class="">
		<p>{{ post.date('d/m/y') }}</p>
		<p>{{post.author.name}}</p>
	</div>
	<div class="[ blog-content ] pt5">{{post.content|wpautop}}</div>
</article>
{% endblock %}
