{% extends "base.twig" %}

{% block content %}

<article class="pt5 fr" id="post-{{post.ID}}">
	{% if post.thumbnail %}
		<img class="db mb6" src="{{Image(post.thumbnail).src}}" alt="{{Image(post.thumbnail).alt}}" />
	{% endif %}
	<h1 class="ttu f5">{{ post.title }}</h1>
	{{post.content}}
</article>
{% endblock %}
