{# <nav id="mobile-nav" role="navigation" class="[ mobile-menu ] dn">
	{% if menu_primary.items %}
        <ul class="menu-primary menu list pl3 mb0">
            {% for item in menu_primary.items %}
            <li class="{{item.class}}">
                <a class="white" href="{{item.link}}">{{item.title}}</a>
                    {% if item.children %}
                        <ul id="mobile-menu-child" class="list pl0 dn">
                            {% for child in item.children %}
                                <li class="lh-solid">
                                    <a class="white" href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="menu-primary menu list pl3">
        <li>
            <a id="contact-btn" href="/contact" class="white">Contact <span>+</span></a>
            <div id="menu-contact"  class="dn pt5">
                {% for field in options.contact %}
                    <div class="bt mb5">
                        <p class="mb0">{{ field.inquiries }}</p>
                        <p class="mb0">{{ field.name }}</p>
                        <p>({{ field.pronouns }})</p>
                        <p class="mb0">{{ field.title }}</p>
                        <a href="mailto:{{ field.email }}" class="white">{{ field.email }}</a>
                    </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</nav> #}

<nav id="mobile-nav" role="navigation" class="[ mobile-menu ] overlay">
	{% if menu_primary.items %}
        <ul class="menu-primary menu list pl3 mb0 overlay-content">
            {% for item in menu_primary.items %}
            <li class="{{item.class}}">
                <a class="[ menu-a {% if item.children %}mobile-menu-item{% endif %} ] white" href="{{item.link}}">{{item.title}}</a>
                    {% if item.children %}
                        <ul class="mobile-menu-child list pl0 dn">
                            {% for child in item.children %}
                                <li class="lh-solid">
                                    <a class="white" href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
            </li>
            {% endfor %}
            <li class="menu-item">
                <a id="contact-btn" href="/contact" class="[ menu-a ] white">Contact <span>+</span></a>
                <div id="menu-contact"  class="dn pt5">
                    <div class="[ contact-info ]">
                        {% for field in options.contact %}
                            <div class="[ single-info ] bt mb5">
                                <p class="mb0">{{ field.inquiries }}</p>
                                <p class="mb0">{{ field.name }}</p>
                                <p>({{ field.pronouns }})</p>
                                <p class="mb0">{{ field.title }}</p>
                                <a href="mailto:{{ field.email }}" class="white">{{ field.email }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    {% endif %}
</nav>