{% extends "base.twig" %}

{% block content %}

	<section id="post-{{post.ID}}" class="[ contact-page ]">
        <div class="mw9 center ph3-ns">
                
                <div class="fl w-100 w-10-ns pa2"><p>Contact</p></div>


                <div class="fl w-90 pa2">
                    {% for field in options.contact %}
                    <div class="bt fl w-100 w-40-ns mb7 mh5-ns">
                        <p class="mb0 mt2">{{ field.inquiries }}</p>
                        <p class="mb0">{{ field.name }}</p>
                        <p>({{ field.pronouns }})</p>
                        <p class="mb0">{{ field.title }}</p>
                        <a href="mailto:{{ field.email }}" class="white">{{ field.email }}</a>
                    </div>
                    {% endfor %}
                </div>

        </div>

	</section>

{% endblock %}