{% set img = TimberImage(options.logo).src %}
{
    "name": "{{ site.name }}",
    "short_name": "{{ options.website_nickname }}",
    "icons": [
        {
            "src": "{{ img|resize(192,192) }}",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "{{ img|resize(512,512) }}",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "{{ options.pwa_theme }}",
    "background_color": "{{ options.pwa_background }}",
    "display": "standalone"
}
