{% extends "base.twig" %}

{% block content %}

<style type="text/css">
body{
    background-color: white !important;
    color:#19191E !important;
}
.site-main a,
.site-header a,
.site-footer a{
    color:#19191E !important;
}
svg text{
    fill:#19191E !important;
}
.blog-section ul{
    width:60rem;
}
.blog-section li{
    width:18rem;
}
.overlay {
	background-color:white !important;
    display:none;
}
</style>
<section id="post-{{post.ID}}" class="blog-section">
			{{post.content}}
            <div class="mw9 center">
            <ul class="cf pl0">
            {% for post in posts %}
                <a href="{{ post.link }}" class="fl w-100 w-third-ns pa2 mb3">
                    <li class="list bt pv3">
                        <p>{{ post.date('d/m/y') }}</p>
                        <p>{{post.author.name}}</p>
                    </li>
                </a>
            {% endfor %}
            </ul>
            </div>
</section>

{% endblock %}