{% extends "base.twig" %}

{% block content %}

<style type="text/css">
body{
    background-color: white !important;
    color:#19191E !important;
}
.site-main a,
.site-header a,
.site-footer a,
a{
    color:#19191E !important;
}
svg text{
    fill:#19191E !important;
}

.overlay {
	background-color:white !important;
	display:none;
}
</style>
	<article id="post-{{post.ID}}" class="[ main-content ] f4 w-80">

		<section>
			{{post.content}}
		</section>

	</article>

{% endblock %}
