// ! TACHYONS v4.6.1 | http://tachyons.io

//
//
//      ________            ______
//      ___  __/_____ _________  /______  ______________________
//      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
//      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
//      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
//                                 /____/
//
//    TABLE OF CONTENTS
//
//    1. External Library Includes
//       - Normalize.css | http://normalize.css.github.io
//    2. Tachyons Modules
//    3. Variables
//       - Media Queries
//       - Colors
//    4. Debugging
//       - Debug all
//       - Debug children
//
//

// Wordpress Theme Identifier
@import 'custom/wordpress_theme_header';

//  External Library Includes
@import 'custom/normalize';


//  Variables
//  Importing here will allow you to override any variables in the modules
//@import 'custom/vso-tachyons-variables';
//@import 'custom/vso-tachyons-custom';
@import 'custom/mixins';
@import 'tachyons/variables';
//@import 'tachyons/media-queries';

//  Debugging
@import 'tachyons/debug-children';
@import 'tachyons/debug-grid';

//  Uncomment out the line below to help debug layout issues
//  @import 'tachyons/debug';

// Custom Components
// - these can be overridden/modified by Tachyons
@import 'custom/normalize';
@import 'custom/base';
@import 'custom/select';
@import 'custom/forms';
@import 'custom/wordpress';
@import 'custom/single-exhibition';


$sfx: '';
//  Modules
@import 'tachyons/box-sizing';
@import 'tachyons/aspect-ratios';
@import 'tachyons/images';
@import 'tachyons/background-size';
@import 'tachyons/background-position';
@import 'tachyons/outlines';
@import 'tachyons/borders';
@import 'tachyons/border-colors';
@import 'tachyons/border-radius';
@import 'tachyons/border-style';
@import 'tachyons/border-widths';
@import 'tachyons/box-shadow';
@import 'tachyons/code';
@import 'tachyons/coordinates';
@import 'tachyons/clears';
@import 'tachyons/display';
@import 'tachyons/flexbox';
@import 'tachyons/floats';
@import 'tachyons/font-family';
@import 'tachyons/font-style';
@import 'tachyons/font-weight';
@import 'tachyons/forms';
@import 'tachyons/heights';
@import 'tachyons/letter-spacing';
@import 'tachyons/line-height';
@import 'tachyons/links';
@import 'tachyons/lists';
@import 'tachyons/max-widths';
@import 'tachyons/widths';
@import 'tachyons/overflow';
@import 'tachyons/position';
@import 'tachyons/opacity';
@import 'tachyons/rotations';
@import 'tachyons/skins';
@import 'tachyons/skins-pseudo';
@import 'tachyons/spacing';
@import 'tachyons/negative-margins';
@import 'tachyons/tables';
@import 'tachyons/text-decoration';
@import 'tachyons/text-align';
@import 'tachyons/text-transform';
@import 'tachyons/type-scale';
@import 'tachyons/typography';
@import 'tachyons/utilities';
@import 'tachyons/visibility';
@import 'tachyons/white-space';
@import 'tachyons/vertical-align';
@import 'tachyons/hovers';
// @import 'tachyons/z-index';
@import 'tachyons/nested';
@import 'tachyons/styles';


// Create media queries for the following:
$sfx: '';
@each $name, $val in $mq {
    $sfx: '-'+$name !global;
    @media #{$val} {
		// @import 'tachyons/box-sizing.scss';
		@import 'tachyons/_aspect-ratios.scss';
		// @import 'tachyons/_images.scss';
		@import 'tachyons/_background-size.scss';
		@import 'tachyons/_background-position.scss';
		@import 'tachyons/_outlines.scss';
		@import 'tachyons/_borders.scss';
		// @import 'tachyons/_border-colors.scss';
		@import 'tachyons/_border-radius.scss';
		@import 'tachyons/_border-style.scss';
		@import 'tachyons/_border-widths.scss';
		@import 'tachyons/_box-shadow.scss';
		// @import 'tachyons/_code.scss';
		@import 'tachyons/_coordinates.scss';
		@import 'tachyons/_clears.scss';
		@import 'tachyons/_display.scss';
		@import 'tachyons/_flexbox.scss';
		@import 'tachyons/_floats.scss';
		// @import 'tachyons/_font-family.scss';
		@import 'tachyons/_font-style.scss';
		@import 'tachyons/_font-weight.scss';
		// @import 'tachyons/_forms.scss';
		@import 'tachyons/_heights.scss';
		@import 'tachyons/_letter-spacing.scss';
		@import 'tachyons/_line-height.scss';
		// @import 'tachyons/_links.scss';
		// @import 'tachyons/_lists.scss';
		@import 'tachyons/_max-widths.scss';
		@import 'tachyons/_widths.scss';
		@import 'tachyons/_overflow.scss';
		@import 'tachyons/_position.scss';
		// @import 'tachyons/_opacity.scss';
		@import 'tachyons/_rotations.scss';
		// @import 'tachyons/_skins.scss';
		// @import 'tachyons/_skins-pseudo.scss';
		@import 'tachyons/_spacing.scss';
		@import 'tachyons/_negative-margins.scss';
		// @import 'tachyons/_tables.scss';
		@import 'tachyons/_text-decoration.scss';
		@import 'tachyons/_text-align.scss';
		@import 'tachyons/_text-transform.scss';
		@import 'tachyons/_type-scale.scss';
		@import 'tachyons/_typography.scss';
		@import 'tachyons/_utilities.scss'; //
		@import 'tachyons/_visibility.scss';
		@import 'tachyons/_white-space.scss';
		@import 'tachyons/_vertical-align.scss';
		// @import 'tachyons/_hovers.scss';
		// @import 'tachyons/_z-index.scss';
		// @import 'tachyons/_nested.scss';
		// @import 'tachyons/_styles.scss';
    }
}


// CUSTOM COMPONENTS
// - these can have more specificity than Tachyons




// TRUMPS
@import 'tachyons/z-index';
