{#
  Title: Curators
  Description: Shows list of Curator
  Category: formatting
  Icon: id
  Keywords: curator
  Mode: editor
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  SupportsJSX: false
#}

{% for field in fields.curator %}
<section id="{{ field.name }}" class="">
    <div class="flex pv5">
    <div class="w-20">
      <img src="{{ field.image.url }}" alt="{{ field.image.alt}}"/>
    </div>
    <div class="w-80  pl5">
      <p class="mb0">{{ field.description }}</p>
    </div>
    </div>

</section>
{% endfor %}
