{#
  Title: Featured Exhibition
  Description: Select an exhibition to feature
  Category: formatting
  Icon: format-gallery
  Keywords: exhibition
  Mode: editor
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  SupportsJSX: false
#}

<section class="mb6">
  {% set post = TimberPost(fields.exhibition.ID) %}
  <h2 class="mb6">
    <span>{{ __('Feature Exhibition', 'uofm') }}</span>
    <br /><br />
    <span>-</span>
  </h2>
  <a href="{{ post.link }}">
    <img src="{{ Image(post.thumbnail).src }}" alt="{{ post.title }}" />
  </a>
  <p class="f5">{{ post.meta('dates') }}</p>
</section>
