{#
  Title: Logo Wall
  Description: Logos
  Category: formatting
  Icon: id
  Keywords: wrapper, width
  Mode: editor
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  SupportsJSX: false
#}

<section id="{{ block.id }}" class="mb0 pb0">
  <div class="[ thank-btn ] rangled w-25 pt7"><a id="toggle-btn" class="white no-underline">{{ fields.title }}! <span>+</span></a></div>

  <div class="toggle-container dn pt1">
    <p class="pt6 pb5">{{ fields.description }}</p>
    <div class="wp-block-columns items-center grid">
        {% for field in fields.logos %}
          <div class="wp-block-column pb0">
          {% if field.url %}
              <a class="pa3" href="{{ field.url }}">
                  {% if field.icon %}
                      <img class="image inline-flex" src="{{ field.icon.url }}" alt="{{ field.icon.alt}}" style="width:15rem;"/>
                  {% endif %}
              </a>
          {% endif %}
          </div>
        {% endfor %}
    </div>
  </div>
</section>